{% extends 'wikodeApp/base.html' %}
{% load static %}

{% block body_block %}
    {% load crispy_forms_tags %}
    <div class="container py-4">

        <div class="p-5 mb-4 bg-light border rounded-3 ">
            <h3>{{ title }}</h3>
            <p><span class="fw-bold">Authors: </span>
                {% for item in authors %}
                    {% if forloop.last %}
                        {% if item.Identifier %}
                            <a href="{{ item.Identifier }}" target="_blank">{{ item.ForeName }} {{ item.LastName }}</a>
                        {% else %}
                            {{ item.ForeName }} {{ item.LastName }}
                        {% endif %}
                    {% else %}
                        {% if item.Identifier %}
                            <a href="{{ item.Identifier }}" target="_blank">{{ item.ForeName }} {{ item.LastName }},</a>
                        {% else %}
                            {{ item.ForeName }} {{ item.LastName }},
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </p>
            <div class="container">
                <div class="row">
                    <div class="col">PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/{{ pmid }}">{{ pmid }}</a></div>
                </div>
            </div>
            <hr>
            <p class="fw-bold">Abstract</p>
            <p id="abstract-text">{{ abstract }}</p>
            <p class="fw-bold">Keywords</p>
            <p>{{ keywords }}</p>
            <hr>
            <p class="fw-bold">Tags</p>
            <table class="table table-striped">
                <tr>
                    <th class="align-middle" style="text-align: center">ID</th>
                    <th class="align-middle" style="text-align: center">Q code</th>
                    <th class="align-middle" style="text-align: center">Fragment Text</th>
                    <th class="align-middle" style="text-align: center">Label</th>
                    <th class="align-middle" style="text-align: center">Description</th>
                    <th class="align-middle" style="text-align: center">Total Votes</th>
                    <th class="align-middle" style="text-align: center">Remove</th>
                </tr>
                {% for item in tags %}
                    <tr class="tag_row" data-start="{{ item.start_index }}" data-end="{{ item.end_index }}">
                        <td class="align-middle" style="text-align: center"><a
                                href="{% url 'wikodeApp:articleDetail' item.id %}">{{ item.tag.id }}</a></td>
                        <td class="align-middle" style="text-align: center"><a
                                href="https://www.wikidata.org/wiki/{{ item.tag.wikiId }}"
                                target={"_blank"}>{{ item.tag.wikiId }}</a></td>
                        <td class="align-middle" style="text-align: center">{{ item.fragment }}</td>
                        <td class="align-middle" style="text-align: center">{{ item.tag.label }}</td>
                        <td class="align-middle" style="text-align: center">{{ item.tag.description }}</td>
                        <td class="align-middle" style="text-align: center">
                            <div class="btn-group" role="group" aria-label="Basic outlined example"
                                 style="display: table">
                                <span style="margin-right: 5px">
                                    <button type="button" class="btn btn-outline-success" data-bs-toggle="button"
                                            autocomplete="off" onclick="incrementValue()">
                                        <i class="bi bi-hand-thumbs-up" id="upvote"></i>
                                    </button>
                                </span>

                                <span id="totalVotes" style="display: table-cell; vertical-align: center">0</span>

                                <span style="margin-left: 5px">
                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="button"
                                            autocomplete="off" onclick="decrementValue()">
                                        <i class="bi bi-hand-thumbs-down" id="downvote"></i>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td class="align-middle" style="text-align: center">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{ item.id }}" name="tag_relation_id"/>
                                <button class="btn-close" type="Submit"
                                        onclick="return confirm('Are you sure?')"></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <div class="container-fluid py-4">
                <form class="tagForm" method="post">
                    {% csrf_token %}
                    {{ tag_form|crispy }}
                    <input
                            class="register-button btn btn-primary mb-2"
                            type="submit"
                            name="get_tag"
                            value="Get Wikidata Entry"
                            data-bs-toggle="tooltip"
                            title="Search for wikidata entry using labels or Q codes"
                    >
                </form>
                <hr>
                {% if qid %}
                    {#                    Placeholder for Existing tags list#}
                    {#                    {% if existing_tags %}#}
                    {#                    <p>Click on an existing tag to use it.</p>#}
                    {#                    <table class="table table-striped">#}
                    {#                        <tr>#}
                    {#                            <th>Existing Tags</th>#}
                    {#                        </tr>#}
                    {#                        {% for item in existing_tags %}#}
                    {#                            <tr>#}
                    {#                                <td class="tag_name">{{ item.TagName }}</td>#}
                    {#                            </tr>#}
                    {#                        {% endfor %}#}
                    {#                    </table>#}
                    {#                        {% endif %}#}
                    <div class="container-fluid">
                        <form method="post">
                            {% csrf_token %}
                            <div id="fragment_info" class="form-group">
                                <label for="fragment_text">Fragment Text:</label>
                                <input id="fragment_text" class="form-control" type="text" value="" name="fragment_text" readonly>
                                <input id="fragment_start_index" class="form-control" type="hidden" name="fragment_start_index" value="0">
                                <input id="fragment_end_index" class="form-control" type="hidden" name="fragment_end_index" value="-1">
                            </div>
                            <p></p>
                            <div class="form-group">
                                <label for="qid">Entry ID:</label>
                                <input type="text" class="form-control" name="qid" value="{{ qid }}" readonly>
                            </div>
                            <p></p>
                            <div class="form-group">
                                <label for="label">Label:</label>
                                <textarea type="text" class="form-control" name="label" cols="80" rows="1"
                                          readonly>{{ label }}</textarea>
                            </div>
                            <p></p>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea type="text" class="form-control" name="description" cols="80" rows="5"
                                          readonly>{{ description }}</textarea>
                            </div>
                            <p></p>
                            <input
                                    class="register-button btn btn-primary mb-2"
                                    type="submit"
                                    name="add_tag"
                                    value="Tag Article"
                                    data-bs-toggle="tooltip"
                                    title="Save and add tag"
                            >
                        </form>
                    </div>

                {% endif %}
            </div>

            <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

            {{ tag_form.media }}

            <script>
                (function ($) {
                    $('#add-form').click(function () {
                        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
                        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
                        newTable.find(':input').each(function () {
                            for (attr of ['name', 'id'])
                                $(this).attr(
                                    attr,
                                    $(this).attr(attr).replace('__prefix__', index)
                                )
                        })
                        newTable.insertBefore($(this))
                        $('#id_inline_test_models-TOTAL_FORMS').val(
                            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
                        )
                        newTable.slideDown()
                    })
                })($)
            </script>
        </div>

    </div>

    <!-- Begin: Right Click -->
    <ul id="tagContextMenu"
        class="dropdown-menu"
        role="menu"
        style="text-align:center; padding:0; min-width: 1rem"
    >
        <button tabindex="-1" id="tag-piece-button" class="btn btn-secondary">&nbsp Select &nbsp</button>
    </ul>
    <!-- End: Right Click -->

{% endblock %}



