{% extends 'wikodeApp/base.html' %}

{% block body_block %}
{% load crispy_forms_tags %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                <form class="form_div" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="col-md"></div>
        </div>
    </div>

{% endblock %}