{% extends 'wikodeApp/base.html' %}

{% block body_block %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Login</h2>
            <div id="searchHelp" class="form-text">Login using email and password</div>
        </div>
    </div>
    
    <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <!-- Display the error message here -->
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% elif success %}
                    <div class="alert alert-success" role="alert">
                        {{ success }}
                    </div>
                {% endif %}
                
                <form class="form-div" method="post" action="{% url 'wikodeApp:userLogin' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="text" name="username" class="form-control" id="Username">
                    </div>
                    
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                
                
                
                <hr>
                <div class="text-center">Need an account? <a href="{% url 'wikodeApp:registration' %}">Sign Up here</a></div>
            </div>
    </div>

{% endblock %}