{% extends 'wikodeApp/base.html' %}
{% load static %}

{% block body_block %}

    <head>
        <meta charset="UTF-8">
        <title>Profile Page</title>
        <link rel="stylesheet" href="{% static 'wikodeApp/css/profilePage.css' %}">
    </head>
        <div class="container py-4">
            <div class="p-5 mb-4 bg-light border rounded-3">
                <div class="row">
                    <div class="offset-md-4">
                        <div class="twPc-div">
                            <img alt="profile-background" class="twPc-bg twPc-block" src="{% static 'wikodeApp/img/profile-background.jfif' %}"/>
                            <div class="twPc-bottom-block">
                                {% if profile %}
                                    <div class="twPc-button">
                                            <a href="{% url 'wikodeApp:followUser' profile.id %}">
                                                {% if is_followed %}
                                                    <button type="button" class="btn btn-lg btn-danger btn-sm" id="follow-button">Unfollow</button>
                                                {% else %}
                                                    <button type="button" class="btn btn-lg btn-primary btn-sm" id="follow-button">Follow</button>
                                                {% endif %}
                                            </a>
                                    </div>
                                {% endif %}
                                <a title="avatar" class="twPc-avatarLink">
                                    <img alt="Emre Çalık" src="{% static 'wikodeApp/img/profile-image.png' %}" class="twPc-avatarImg">
                                </a>

                                {% if profile %}
                                    <div class="twPc-divUser">
                                        <div class="twPc-divName"> {{ profile.get_full_name }} </div>
                                        <span> {{ profile.get_username }} </span>
                                    </div>
                                {% elif user.is_authenticated %}
                                    <div class="twPc-divUser">
                                        <div class="twPc-divName"> {{ user.get_full_name }} </div>
                                        <span> {{ user.get_username }} </span>
                                    </div>
                                {% endif %}

                                <div class="twPc-divStats">
                                    <ul class="twPc-Arrange">
                                        <li class="twPc-ArrangeSizeFit">
                                            <a href="#" title="tags">
                                                <span class="twPc-StatLabel twPc-block">Tagged Articles</span>
                                                <span class="twPc-StatValue">3</span>
                                            </a>
                                        </li>
                                        <li class="twPc-ArrangeSizeFit">
                                            <a href="#" title="userDetailsFollowLists" id="followings">
                                                <input type="hidden" id="followee_list" name="variable" value="{{ follower_list }}">
                                                <span class="twPc-StatLabel twPc-block">Followings</span>
                                                {% if profile %}
                                                    <span class="twPc-StatValue" id="follower_count">{{ profile.follower.count }}</span>
                                                {% elif user.is_authenticated %}
                                                    <span class="twPc-StatValue" id="follower_count">{{ user.follower.count }}</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li class="twPc-ArrangeSizeFit">
                                            <a href="#" title="followers" id="followers">
                                                <input type="hidden" id="follower_list" name="variable" value="{{ followee_list }}">
                                                <span class="twPc-StatLabel twPc-block">Followers</span>
                                                 {% if profile %}
                                                    <span class="twPc-StatValue" id="followee_count">{{ profile.followee.count }}</span>
                                                {% elif user.is_authenticated %}
                                                    <span class="twPc-StatValue" id="followee_count">{{ user.followee.count }}</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" id="tagged-articles-id">Tagged Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="recent-activities-id">Recent Activities</a>
                    </li>
                </ul>

                <div class="overflow-scroll" id="tagged-articles">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Article Name</th>
                            <th scope="col">PMID</th>
                            <th scope="col">Tags</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tags in tag_list %}
                        <tr>
                            <th scope="row"></th>
                            <td><a href="{{tags.articleid_url}}">{{tags.articletitle}}</a></td>
                            <td><a href="#">{{tags.PM_id}}</a></td>
                            {% for tagnames in tags %}
                            <td>
                                <a href="#">{{tagnames.label}}</a>
                                <br>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="overflow-scroll" id="recent-activities" style="display: none">
                    <table class="table table-striped feeduseritem">
                        <tbody>
                        {% for activity in feedList %}
                        <tr>
                            <td>
                            <a class="name" href="{{ activity.userURL }}">{{activity.userName}}</a> {{activity.sentence}} <a href="{{ activity.targetURL }}">{{activity.targetName}}</a>. {% if activity.tagName %} with <a href="{{ activity.tagURL }}">{{activity.tagName}}</a> {% endif %}
                                <div style="font-style: italic; font-size: 12px"> Activity Date: {{activity.published}}</div>
                                <div style="font-style: italic; font-size: 12px"> Activity Time: {{activity.publishedTime}}</div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
<!--                    <button type="button" id="viewMoreforProfile" class="btn btn-block btn-primary waves-effect waves-light"><i class="icon md-chevron-down margin-right-5" aria-hidden="true"></i>Show-->
<!--                    More</button>-->
                </div>

            </div>
        </div>

        <!-- The Modal -->
        <div class="container py-4">
            <!-- The Modal -->
            <div id="followModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 id="modal-header-text"></h2>
                        <span class="close" id="close">&times;</span>
                    </div>
                    <div class="modal-body overflow-scroll" id="modalBody"></div>
                </div>
            </div>
        </div>

    <script type="text/javascript" src="{% static 'wikodeApp/js/profilePage.js' %}"></script>
{% endblock %}
