{% extends 'wikodeApp/base.html' %}
{% load static %}

{% block body_block %}

    {% if date_labels %}
        <div class="container">
<!--Added this here in order to show the sarched keyword in search results, highlighted as well.             -->
            <h3 class="lead">Article Results for : <mark> <b>{{search_term}}</b></mark></h3>
<!--Added this here in order to show the filter options, meaning what the user is filtered.             -->

            <h3 id="filterID" class="lead">Filter Parameters : <mark><b>{{filter_params}}</b></mark></h3>
<!--Added these in order to fix the view of filter parameters            -->
            <script>
            let text = document.getElementById("filterID").innerHTML;
            document.getElementById("filterID").innerHTML = text.replaceAll("_", " ");;
            let text2 = document.getElementById("filterID").innerHTML;
            document.getElementById("filterID").innerHTML = text2.replaceAll("&amp", " ");;


            </script>

<!--Here we show the chart            -->
            <canvas id="myChart" width="100" height="30"></canvas>
        </div>



    {% endif %}

    {% block search_box %}
    {% endblock %}

<!--Here we show the article search results with the required details-->
    <div class="container">
        <h3 class="lead">Search Results ({{ result_size }} articles)</h3>
        <table class="table table-striped">
            <tr>
                <th>PMID</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
            {% for item in results_list %}
                <tr>
                    <td><a href="{% url 'wikodeApp:articleDetail' item.id %}">{{ item.id }}</a></td>
                    <td>{{ item.Title }}</td>
                    <td>{{ item.PublicationDate }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if results_list.has_other_pages %}
            <ul class="pagination">
                {% if results_list.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ results_list.previous_page_number }}&term={{ search_term }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in results_list.paginator.page_range %}
                    {% if results_list.number == i %}
                        <li class="active page-item"><span class="page-link">{{ i }} <span
                                class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link"

                                {% if filter_params %}
                                                 href="?page={{ i }}&term={{ search_term }}&{{ filter_params }}">
                                {% else %}
                                    href="?page={{ i }}&term={{ search_term }}">
                                {% endif %}
                        {{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if results_list.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ results_list.next_page_number }}&term={{ search_term }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}

<!--This is the chart that shows number of articles for searched keyword        -->
    </div>
    {% if date_labels %}
        <script>
            var ctx2 = document.getElementById('myChart');
            var myChart = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: [{% for item in date_labels %}'{{ item }}',{% endfor %}],
                    datasets: [{
                        label: '# of Articles',
                        data: [{% for item in data_values %}'{{ item }}',{% endfor %}],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function(value) {if (value % 1 === 0) {return value;}}
                        }
                    }]
                }
              }
            });
        </script>
    {% endif %}
{% endblock %}
